services:
  ollama:
    image: ollama/ollama:latest # docker exec 7e05bc6418f4  ollama pull llama3.2:1b
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    networks:
      - rag_network
    environment:
      - OLLAMA_ORIGINS=*

  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage
    networks:
      - rag_network

  rag_app:
    build: .
    depends_on:
      - qdrant
      - ollama
    volumes:
      - ./services:/app/services
      - ./docs:/app/docs
    command: python -u services/test_simple.py
    environment:
      - QDRANT_HOST=qdrant
      - OLLAMA_URL=http://ollama:11434
      - QDRANT_URL=http://qdrant:6333
    deploy:
      resources:
        limits:
          memory: 4G
    networks:
      - rag_network

networks:
  rag_network:
    driver: bridge

volumes:
  qdrant_data:
  ollama_data:
